// Syntax Highlighting - Dark Theme with Orange Accents
// Based on a warm, terminal-inspired color scheme

.highlight {
  background: #1a1a1a;
  border-radius: 4px;
  border: 1px solid #333333;
  border-left: 3px solid #ff9500;

  .highlighter-rouge & {
    background: #1a1a1a;
  }

  // Comments
  .c, .ch, .cd, .cm, .cpf, .c1, .cs {
    color: #707070;
    font-style: italic;
  }

  // Errors
  .err {
    color: #ff5555;
    background-color: #2d0000;
  }

  // Keywords
  .k, .kc, .kd, .kn, .kp, .kr, .kt, .kv {
    color: #ff9500;
    font-weight: 600;
  }

  // Operators
  .o, .ow {
    color: #fbbf24;
  }

  // Punctuation
  .p, .pi {
    color: #e8e8e8;
  }

  // Numbers
  .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
    color: #fbbf24;
  }

  // Strings
  .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #a3e635;
  }

  // Names
  .n, .na, .nb, .bp, .nc, .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx, .py, .nt, .nv, .vc, .vg, .vi, .vm {
    color: #e8e8e8;
  }

  // Functions
  .nf, .fm {
    color: #60a5fa;
    font-weight: 500;
  }

  // Classes
  .nc, .nn {
    color: #c084fc;
    font-weight: 500;
  }

  // Variables
  .nv, .vc, .vg, .vi, .vm {
    color: #f59e0b;
  }

  // Generic
  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }

  // Diff
  .gd {
    color: #ff5555;
    background-color: #2d0000;
  }

  .gi {
    color: #50fa7b;
    background-color: #002d00;
  }

  .gh {
    color: #ff9500;
    font-weight: bold;
  }

  .gu {
    color: #fbbf24;
    font-weight: bold;
  }
}

// Line numbers
.lineno {
  color: #707070;
  user-select: none;
  padding-right: 1em;
  border-right: 1px solid #333333;
  margin-right: 1em;
}
